---
const today = new Date();
---

<footer class="footer footer-center border-t border-base-content/10 text-base-content/70 text-sm py-8 mt-12">
  <div class="pb-2">
    &copy; {today.getFullYear()} A FAITH DRIVEN LIFE
  </div>
</footer>
